@model IEnumerable<Tangy.Models.Menu.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<partial name="Partials/_CreateButton" />

<div class="form-border">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.DisplayOrder)</th>
            </tr>
        </thead>
        <thead>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.DisplayOrder)</td>
                    <td style="width:150px;">
                        @Html.Partial("Partials/_CrudButtons", item.Id)
                    </td>
                </tr>
            }
        </thead>
    </table>
</div>